{% extends 'blog/base.html' %}
{% load static%}
{% block content %}

<style >
  body{
		background:linear-gradient(to bottom right, lightblue,yellow,white,blue);
	  }
</style>


    <h1 class="text-center" style="font-size:60px;font-weight:bold;">
     our Courses</h1>

  <table id="courses"align="center" cellspacing="0px" bgcolor="#ebebe0" height="auto">
            <tr><td> <button class="py"><a href="#compbasic" style="text-decoration:none;font-size:20px;">ComputerBasics</a></button></td>
                <td> <button class="c1"><a href="#c" style="text-decoration:none;font-size:20px;">C,C++</a></button></td>


              </tr>
              <tr><td> <button class="we1"><a href="#mso" style="text-decoration:none;font-size:20px;">MS-Office</a></button></td>
                <td> <button class="or1"><a href="#python" style="text-decoration:none;font-size:20px;">Python</a></button></td>
             </tr>

                <tr>
                   <td> <button class="phot1"><a href="#dtp" style="text-decoration:none;font-size:20px;">DTP</a></button></td>
                    <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">WebDesigning</a></button></td>
                </tr>



              <tr><td> <button class="pg1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Typing</a></button></td>
                <td> <button class="dt1"><a href="#django" style="text-decoration:none;font-size:20px;">Django</a></button></td>


              </tr>
              <tr><td> <button class="page1"><a href="#internet" style="text-decoration:none;font-size:20px;">Internet</a></button></td>
                <td> <button class="dc1"><a href="#html" style="text-decoration:none;font-size:20px;">html</a></button></td>


              </tr>
              <tr>
               <td> <button class="ja1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Photoshop</a></button></td>
               <td> <button class="int1"><a href="#html" style="text-decoration:none;font-size:20px;">css</a></button></td>

              <tr>
                 <td> <button class="do1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Pagemaker</a></button></td>
               <td> <button class="c2"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Javascript</a></button></td>
              </tr>
              <tr>
                <td> <button class="ta1" ><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">CoralDraw</a></button></td>
                <td> <button class="ms1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Bootstrap</a></button></td>
              </tr>
              <tr>
                 <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">PGDCA</a></button></td>
                  <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Jquery</a></button></td>
              </tr>

              <tr>
                 <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DCA</a></button></td>
                  <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DBMS(MySQL)</a></button></td>
              </tr>
  </table>


  <div class="container"><br id="compbasic" ><br>
    <h1 >Computer Basics</h1>
    <ul>
      <li>introduction of computre</li>
      <li>introduction of hardware and software</li>
      <li>operating system(windows 10,windows 7)</li>
      <li>Dos Commands</li>
      <li>control pannel</li>
      <li>Paint</li>
      <li>Wordpad</li>
      <li>Notepad</li>
  </ul>
<br id="mso" ><br><h1 >MS Office</h1>
      <h2>  Ms Word</h2>
<pre style="font-size:20px;font-family:times new roman">

  ⦁	 Creating, editing, saving and printing text documents
  ⦁	 Font and paragraph formatting
  ⦁	Simple character formatting
 <h2>Ms. Excel</h2>
 ⦁	Spreadsheet basics
 ⦁	Creating, editing, saving and printing spreadsheets
<h2>Ms. Power Point</h2>
⦁	 Opening, viewing, creating, and printing slides
⦁	 Applying auto layouts
⦁	Adding custom animation
</pre>
<pre style="font-size:20px;font-family:times new roman">
<br id="internet"><br><h1 >Internet</h1>
⦁	Understanding how to search/Google
⦁	  bookmarking and Going to a specific website
</pre>
<pre style="font-size:20px;font-family:times new roman">
<br id="dtp"><br><h1>DTP(Desktop Application)</h1>
⦁	PageMaker/InDesign
⦁	Page layout Basics
⦁	Understanding Tools & Workspace
</pre>
<pre style="font-size:20px;font-family:times new roman">
<br id="python"><br><h1>Python</h1>
1. Language Fundamentals
2. Operators
3. Flow Control
4. String Data Type
<pre style="font-size:20px;font-family:times new roman">
<br id="django"><br><h1 >DJANGO</h1>
1. Introduction to Python
2. Introduction to Web Development
3. Introduction to HTML
4. Introduction to DJANGO
</pre>
<pre style="font-size:20px;font-family:times new roman">
<br id="c"><br><h1 >C Language</h1>
1. Software Basics
2. Generation of languages
3. Introduction C – Language
4. C- Language Compilers Turbo-C and ANSI-C
</pre>
<pre style="font-size:20px;font-family:times new roman">
<br id="html"><br><h1 >HTML5 & CSS3 Training </h1>
⦁	 Introduction of different Web Technology
</pre>
</div>
  </div>
{% endblock content %}
