{% extends 'blog/base.html' %}
{% load static%}
{% block content %}

<style>
       *{
           margin:0px;
           padding:0px;
       }
       div div div a:link{
           color:white;
           font-size:20px;
       }
       div div div a:hover{
           color:#41f481;
       }
       marquee{
           font-size:26px;
           color:blue;
       }
       marquee:hover{
           color:#ff4f81;
           transition:0.9s all;
       }
       marquee i:hover{
           border-right:3px solid #ff4f81;
           border-left:3px solid #ff4f81;
       }
       #table1{
         background:#ffe0ff;
         border:ridge;
       }
       .t1{
         font-size:20px;
         font-style:bold;

       }
       {
   			border:1px solid blue;
   			border-radius:20px


   		}

.card{
  font-family: "Candara", sans-serif;
  width: 350px;
  height:450px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding:none;
  }

.card-image img{
  width: 100%;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.profile-image img{
  z-index: 1;
  width: 120px;
  height: 120px;
  position: relative;
  margin-top: -75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 10px solid #fff;
  transition-duration: 0.4s;
  transition-property: transform;
}

.profile-image img:hover{
  transform: scale(1.1);
}

.card-content h3{
  font-size: 25px;
  text-align: center;
  margin: 0;
}

.card-content p{
  font-size: 16px;
  text-align: justify;
  padding: 0 20px 5px 20px;
}
.card-box{
  flex-wrap: wrap;
  width: 100%;
  height:auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding:10px;
}

.footera{
  color:yellow;
}
.footerb{
  color:yellow;
}

body{
  font-family: tahoma;
  text-align: justify;
}
.aimage{
  border:3px solid blue;
  border-radius:0px 50px 0px 50px;
}

.aimage:hover{
  border-radius:50px 0px 50px 0px;


}

#bg{
  border:2px solid blue;
  border-radius:0px 50px 0px 50px;
}
#bg:hover{
  border-radius:50px 0px 50px 0px;
}

#bg1{
  border:2px solid yellow;
  border-radius:0px 50px 0px 50px;
}
#bg1:hover{
  border-radius:50px 0px 50px 0px;
}

#bg2{
  border:2px solid red;
  border-radius:0px 50px 0px 50px;
}
#bg2:hover{
  border-radius:50px 0px 50px 0px;
}
#hd{
  color:pink;
  font-size:40px;
  font-weight:bold;
}
#pt{
  color:white;
  font-size:20px;
  font-weight:bold;
}
.p{
  margin-bottom: 30px;
}
h2{
  margin-bottom: 47px;
  margin-top: 12px;
}

.footera{
  color:yellow;
}
.footerb{
  color:yellow;
}

   </style>
   <script>
    window.onload = function () {
        console.log("loaded")
        var typed = new Typed('#typed', {
            strings: ["Welcome to Bright Computers","We develop Web Applications ", " We provide courses on New Technologies","Learn Python", "Web development", "Data Science", "Machine Learning", "and programming and other concepts :)"],
            backSpeed: 15,
            smartBackspace: true,
            backDelay: 1200,
            startDelay: 1000,
            typeSpeed: 20,
            loop: true,
        });
    };
</script>
   <section class="jumbotron text-center " style="background: #002f0b;">
     <div class="container primary">
         <img src="/static/bicon.png" alt="logo" width="120">
         <h1 id="hd"class="jumbotron-heading"><span id="typed"></span></h1>
         <p id ="pt" class="lead text-muted">are you Confused on which course to take?  Browse courses and find out
             the best course for you. Its free!<br>Bright Computers is ready to teach basics and those coding
             techniques to people in short time .</p>
         <p>
             <a href="/blog" class="btn btn-danger my-2" id="bg">Browse Blog</a>
             <a href="/login" class="btn btn-success my-2" id="bg1">Login</a>
             <a href="/courses" class="btn btn-primary my-2" id="bg2">Courses</a>
         </p>
     </div>
 </section>

 <div class="container-fluid text-left text-dark headerset">
        <div class="carousel slide" id="demo" data-ride="carousel" style="width:100%;" scrollamount="20%">
            <ul class="carousel-indicators">
                <li class="active" data-target="#demo" data-slide-to="0"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
            </ul>
            <div class="carousel-inner box text-center">
                <div class="carousel-item active">
                    <div class="row" style="margin:0px;">
                        <div class="col-lg-4">
                            <img src="{%static 'a.jpg'%}" alt="image" width="1300px" height="400">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="margin:0px;">
                        <div class="col-lg-4">
                            <img src="{%static 'b.jpg'%}" alt="image" width="1300px" height="400">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="margin:0px;">
                        <div class="col-lg-4">
                            <img src="{%static 'c.jpg'%}" alt="image" width="1300px" height="400">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="margin:0px;">
                        <div class="col-lg-4">
                            <img src="{%static 'd.jpg'%}" alt="image" width="1300px" height="400">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="margin:0px;">
                        <div class="col-lg-4">
                            <img src="{%static 'e.jpg'%}" alt="image" width="1300px" height="400 ">
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

      <marquee class="moving-body" onmouseover="stop();" onmouseout="start();" behavior="scroll" scrollamount="10" >
        <li>Bright Computers is providing summer spcial courses .New Batches start from April 06 2020 </li></marquee>


        <div class="text-center batches">
          <h2> Upcoming batches on digital classes</h2>
       <table border="2px" width="100%" align="center"  cellpadding="10px" cellspacing="2px" id="table1">
            <tr class="t1">
              <th>Batch Date</th>
              <th>Batch Timings</th>
              <th>Course</th>
              <th>Register</th>
            </tr>
            <tr>
              <td>06-04-2020</td>
              <td>09am to 10am</td>
              <td>PGDCA</td>
              <td><a href="{%url 'NewPage'%}">Register Now</a></td>
            </tr>
            <tr>
              <td>06-04-2020</td>
              <td>10am to 11am</td>
              <td>software Training</td>
              <td><a href="{%url 'NewPage'%}">Register Now</a></td>
            </tr>
          </table>


        </div>
<div class="">


<section class="" >
    <h1 class="text-center"style="font-size:60px;font-weight:bold;"> Our Services</h1>
    <div class="card-box">
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'web.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>Web Development</h3>
       <p>now days web applications are used to complte any task .</p>
     </div>

   </div>
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'gd.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>Graphic Design</h3>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
     </div>

   </div>
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'seo.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>SEO</h3>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
     </div>

   </div>


</div>
</section>
<section class="" >

    <div class="card-box">
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'st.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>Software Training</h3>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
     </div>

   </div>
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'cb.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>Computer Education</h3>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
     </div>

   </div>
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'job.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>Job & Freelancing</h3>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
     </div>

   </div>


</div>
</section>
</div>

<div class="" style="background:#7dffff;">
    <h1 class="text-center" style="font-size:60px;font-weight:bold;">
     our Courses</h1>
<marquee behavior="alternate" onmouseover="this.stop();" onmouseout="this.start();"scrollamount="10">
  <table id="courses"align="center" cellspacing="0px" bgcolor="#ebebe0" height="auto">
            <tr><td> <button class="py"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">ComputerBasics</a></button></td>
                <td> <button class="c1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">C,C++</a></button></td>


              </tr>
              <tr><td> <button class="we1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">MS-Office</a></button></td>
                <td> <button class="or1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Python</a></button></td>
             </tr>

                <tr>
                   <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DTP</a></button></td>
                    <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">WebDesigning</a></button></td>
                </tr>



              <tr><td> <button class="pg1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Typing</a></button></td>
                <td> <button class="dt1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Django</a></button></td>


              </tr>
              <tr><td> <button class="page1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Internet</a></button></td>
                <td> <button class="dc1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">html</a></button></td>


              </tr>
              <tr>
               <td> <button class="ja1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Photoshop</a></button></td>
               <td> <button class="int1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">css</a></button></td>

              <tr>
                 <td> <button class="do1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Pagemaker</a></button></td>
               <td> <button class="c2"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Javascript</a></button></td>
              </tr>
              <tr>
                <td> <button class="ta1" ><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">CoralDraw</a></button></td>
                <td> <button class="ms1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Bootstrap</a></button></td>
              </tr>
              <tr>
                 <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">PGDCA</a></button></td>
                  <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Jquery</a></button></td>
              </tr>

              <tr>
                 <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DCA</a></button></td>
                  <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DBMS(MySQL)</a></button></td>
              </tr>


  </table>







    </marquee>
    </div>

    <center><h2 class="color-3" ><b>About Bright Computers</b></center>  </h2>
    <div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="{%static 'class.jpg'%}" class="aimage" width="350px" height="300px">
        </div>
        <br>
        <div class="col-md-7 about-right">


            <h1>Mission and Vision</h1>
            <p>

                Bright Computers is certified by An ISO 9001:2015 and Regd By DGE & T Permitted by GOVT OF INDIA.
                we are providing  Technical Education for graduation people and also Economical support.
                Bright computers Training Institute is the one of the best Computer Institute for educate the
                rural area people of Telangana.and also it is providing placements for trained students.
                Bright Computers provides GOVT OF INDIA trained certificate.and we are giving training on digital classes and online classes .
                we take less time to complete any course with practical knowledge.and we should provide placement for all students
                who need economical support.
            </p>
            </div>
            </div>
            </div><br>


            <div class="container">
            <div class="row">
              <div class="col-md-7 about-right">
                <h1>Management Team</h1>
                <p class="p">

                  Bright Computers Management have more than 6 years of experience in IT Sector in various Areas.
                  our motto is empowering youth in IT education to IT Careers,
                  Management has shown most interest in this IT Sector. we are getting positive response from Job seekers and hiring
                  companies.  Developing the perfect team members and encouraging the computer and software trainers.
                  we quickly adopting to latest technology trends and cutting-edge technologies.

                  Bright Computers has associated with National organizations for maintaining
                  and developing the Standard & Quality computer Training in IT Industry.
                  </p>

              </div>
            <div class="col-md-5">

                <img src="{%static 'RK.jpg'%}" class="aimage"  width="300px" height="300px" align="right"></img>
            </div><br>


            </div>
            </div><br>

            <div class="container">
            <div class="row">

              <div class="col-md-5">
                  <img src="{%static 'lab.jpg'%}" class="aimage" width="300px" height="300px">
              </div>
              <div class="col-md-7 about-right">
              <h1>Software Training Infrastructure</h1>
              <p class="p">

                  Bright Computers Training Institute has good Lab facilities located in Telangana .
                  Bright Computers Training Institute having modern classroom with latest teaching aids.
                  Full fledged Lab PCs connected in network and Open Source/Development software.
                </p>
              </div>
              </div>
              </div>



<br>



    <div class="container-fluid">
        <div class="row  links" style="background:#000066;">
            <div class="col-md-4">
                <h1 style="color:white;font-weight:bold;"><u>Our Courses</u></h1>
                <a href="{%url 'blog-courses'%}" class="footera">C language</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">Python</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">Django,SQL</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">HTML5,CSS3</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">JAVASCRIPT</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">BOOTSTRAP,JQUERY</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">PGDCA</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">PHOTOSHOP</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">CORELDRAW</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">PAGEMAKER</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">DTP</a><br>

            </div>
            <div class="col-md-4">
                <h1 style="color:white;font-weight:bold;"><u>Our Services</u></h1>
                <a href="{%url 'blog-services'%}"class="footerb">Web Development</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">SEO</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">Graphic Design</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">software Training</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">Computer Education</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">placements</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">Job & Freelancing</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">DTP Works</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">Online Works</a><br>

            </div>
            <div class="col-md-4">
                <h1 style="color:white;font-weight:bold;"><u>Contact Us</u></h1>
                <h3 style="color:yellow">Bright Computers</h3>
                <i class="fa fa-map-marker" style="color:yellow;font-weight:bold;font-size:20px"> Kalwakurthy,<br> Nagarkurnool, Telangana</i><br>
                <h3 style="color:white;font-weight:bold;"><u>Call Us</u></h3>
                <i class="fa fa-phone" style="color:yellow"> Mobile:9640449394,8555848521</i><br>
                <h3 style="color:white;font-weight:bold;"><u>Mail us</u></h3>
                <i class="fa fa-envelope " style="color:yellow"></i><a href="/"class="footera"> brightcomputersinfo@gmail.com</a>
                <h3 style="color:white;font-weight:bold;"><u> whatsapp us</u></h3>
                <i class="fa fa-whatsapp" style="color:yellow">9640449394,</i><br>
            </div>
        </div>


{% endblock content %}
