{% extends 'blog/base.html' %}
{% load static%}
{% block content %}

<style>
       *{
           margin:0px;
           padding:0px;
       }
       div div div a:link{
           color:white;
           font-size:20px;
       }
       div div div a:hover{
           color:#41f481;
       }
       marquee{
           font-size:26px;
           color:blue;
       }
       .bright1{
         height:100px;
         width:100px;
       }
       marquee:hover{
           color:#ff4f81;
           transition:0.9s all;
       }
       marquee i:hover{
           border-right:3px solid #ff4f81;
           border-left:3px solid #ff4f81;
       }
       #table1{
         background:#ffe0ff;
         border:ridge;
       }
       .t1{
         font-size:20px;
         font-style:bold;

       }
       {
   			border:1px solid blue;
   			border-radius:20px


   		}

.card{
  font-family: "Candara", sans-serif;
  width: 350px;
  height:450px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding:none;
  }

.card-image img{
  width: 100%;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.profile-image img{
  z-index: 1;
  width: 120px;
  height: 120px;
  position: relative;
  margin-top: -75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 10px solid #fff;
  transition-duration: 0.4s;
  transition-property: transform;
}

.profile-image img:hover{
  transform: scale(1.1);
}

.card-content h3{
  font-size: 25px;
  text-align: center;
  margin: 0;
}

.card-content p{
  font-size: 16px;
  text-align: justify;
  padding: 0 20px 5px 20px;
}
.card-box{
  flex-wrap: wrap;
  width: 100%;
  height:auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding:10px;
}

.footera{
  color:yellow;
}
.footerb{
  color:yellow;
}

body{
  font-family: tahoma;
  text-align: justify;
}
.aimage{
  border:3px solid blue;
  border-radius:0px 50px 0px 50px;
}

.aimage:hover{
  border-radius:50px 0px 50px 0px;


}

#bg{
  border:2px solid blue;
  border-radius:0px 50px 0px 50px;
}
#bg:hover{
  border-radius:50px 0px 50px 0px;
}

#bg1{
  border:2px solid yellow;
  border-radius:0px 50px 0px 50px;
}
#bg1:hover{
  border-radius:50px 0px 50px 0px;
}

#bg2{
  border:2px solid red;
  border-radius:0px 50px 0px 50px;
}
#bg2:hover{
  border-radius:50px 0px 50px 0px;
}
#hd{
  color:dark;
  font-size:40px;
  font-weight:bold;
}
#pt{
  color:white;
  font-size:20px;
  font-weight:bold;
}
.p{
  margin-bottom: 30px;
}
h2{
  margin-bottom: 47px;
  margin-top: 12px;
}

.footera{
  color:yellow;
}
.footerb{
  color:yellow;
}
body{
background:linear-gradient(to bottom right, lightblue,lightyellow,lightblue,lightyellow);
  }
  .jumbotron{
  background:linear-gradient(to bottom right, lightyellow,lightblue,lightblue,lightyellow);
    }
#form{
background: #e6e6ff;
min-height:300px;
border:ridge 8px;
}
.registration{
font-size:25px;
font-family:Comic Sans MS;
color: #b2004c;
font-weight:700;
}
.form-control{
border:2px ridge;
border-radius:20px;
font-family:Cooper Black;
}
#form1{
background:#ffe8f7;
height:350px;

border:ridge 8px;
}
.selection1{
border-radius:5px;
}
.col-form-label{
font-family:Agency FB;
}
.form-group button{
  width:150px;
  color:green;

 }
</style>


   </style>
   <script>
    window.onload = function () {
        console.log("loaded")
        var typed = new Typed('#typed', {
            strings: ["Welcome to Bright Computers","We develop Web Applications ", " We provide courses on New Technologies","Learn Python", "Web development", "Data Science", "Machine Learning", "and programming and other concepts :)"],
            backSpeed: 15,
            smartBackspace: true,
            backDelay: 1200,
            startDelay: 1000,
            typeSpeed: 20,
            loop: true,
        });
    };
</script>
   <section class="jumbotron text-center " >
     <div class="container primary">
       <img class="bright1"src="{%static 'bicon.png'%}" width="120px" hieght="120px">
         <h1 id="hd"class="jumbotron-heading"><span id="typed"></span></h1>
         <p id ="pt" class="lead text-muted">are you Confused on which course to take?  Browse courses and find out
             the best course for you. Its free!<br>Bright Computers is ready to teach basics and those coding
             techniques to people in short time .</p>
         <p>
             <a href="/services" class="btn btn-danger my-2" id="bg">services</a>
             <a href="/NewPage" class="btn btn-success my-2" id="bg1">Contact Us</a>
             <a href="/courses" class="btn btn-primary my-2" id="bg2">Courses</a>
         </p>
     </div>
 </section>
<!--
 <div class="container-fluid text-left text-dark headerset">
        <div class="carousel slide" id="demo" data-ride="carousel" style="width:100%;" scrollamount="20%">
            <ul class="carousel-indicators">
                <li class="active" data-target="#demo" data-slide-to="0"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
            </ul>
            <div class="carousel-inner box text-center">
                <div class="carousel-item active">
                    <div class="row" style="margin:0px;">
                        <div class="col-lg-4">
                            <img src="{%static 'a.jpg'%}" alt="image" width="1300px" height="400">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="margin:0px;">
                        <div class="col-lg-4">
                            <img src="{%static 'b.jpg'%}" alt="image" width="1300px" height="400">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="margin:0px;">
                        <div class="col-lg-4">
                            <img src="{%static 'c.jpg'%}" alt="image" width="1300px" height="400">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="margin:0px;">
                        <div class="col-lg-4">
                            <img src="{%static 'd.jpg'%}" alt="image" width="1300px" height="400">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="margin:0px;">
                        <div class="col-lg-4">
                            <img src="{%static 'e.jpg'%}" alt="image" width="1300px" height="400 ">
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

      <marquee class="moving-body" onmouseover="stop();" onmouseout="start();" behavior="scroll" scrollamount="10" >
        <li>Bright Computers is providing summer spcial courses .New Batches start from April 06 2020 </li></marquee>


        <div class="text-center batches">
          <h2> Upcoming batches on digital classes</h2>
       <table border="2px" width="100%" align="center"  cellpadding="10px" cellspacing="2px" id="table1">
            <tr class="t1">
              <th>Batch Date</th>
              <th>Batch Timings</th>
              <th>Course</th>
              <th>Register</th>
            </tr>
            <tr>
              <td>06-04-2020</td>
              <td>09am to 10am</td>
              <td>PGDCA</td>
              <td><a href="{%url 'NewPage'%}">Register Now</a></td>
            </tr>
            <tr>
              <td>06-04-2020</td>
              <td>10am to 11am</td>
              <td>software Training</td>
              <td><a href="{%url 'NewPage'%}">Register Now</a></td>
            </tr>
          </table>


        </div>-->
        <h1 class="text-center" style="font-size:40px;font-weight:bold;">
         our Courses</h1>

<div class="container fluid ">

  <div class="row">
                  <!-- Blog Entries Column -->
  <div class="col-md-6 mt-2 left">


<!--<marquee behavior="alternate" onmouseover="this.stop();" onmouseout="this.start();"scrollamount="10">-->
  <table id="courses"align="center" cellspacing="0px" bgcolor="#ebebe0" height="auto">
            <tr><td> <button class="py"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">ComputerBasics</a></button></td>
                <td> <button class="c1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">C,C++</a></button></td>


              </tr>
              <tr><td> <button class="we1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">MS-Office</a></button></td>
                <td> <button class="or1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Python</a></button></td>
             </tr>

                <tr>
                   <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DTP</a></button></td>
                    <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">WebDesigning</a></button></td>
                </tr>



              <tr><td> <button class="pg1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Typing</a></button></td>
                <td> <button class="dt1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Django</a></button></td>


              </tr>
              <tr><td> <button class="page1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Internet</a></button></td>
                <td> <button class="dc1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">html</a></button></td>


              </tr>
              <tr>
               <td> <button class="ja1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Photoshop</a></button></td>
               <td> <button class="int1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">css</a></button></td>

              <tr>
                 <td> <button class="do1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Pagemaker</a></button></td>
               <td> <button class="c2"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Javascript</a></button></td>
              </tr>
              <tr>
                <td> <button class="ta1" ><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">CoralDraw</a></button></td>
                <td> <button class="ms1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Bootstrap</a></button></td>
              </tr>
              <tr>
                 <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">PGDCA</a></button></td>
                  <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Jquery</a></button></td>
              </tr>

              <tr>
                 <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DCA</a></button></td>
                  <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DBMS(MySQL)</a></button></td>
              </tr>


  </table>







    <!--</marquee>-->
    </div>
    <div class="col-md-6">
      <div class="container">


                   <center><b class="registration">Registrer Now</b></center>
                    <span id="success" style="color:green"></span><br><br>
                   <form action="{% url 'NewPage'%}" method="post" onsubmit="return validation()">
                       {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" >StudentName</label>
                            <div class="col-sm-10"><input type="text" id="student" class="form-control"  name="name1" value="" minlength="4" maxlength="25" autocomplete="off" required > </div>
                            <span id="studentname" class="text-danger font-weight-bold"></span>
                       </div>


                       <div class="form-group row">
                            <label class="col-sm-2 col-form-label" >course</label>
                            <div class="col-sm-10"><input type="text" id="father" class="form-control"  name="name2" minlength="4" maxlength="25" autocomplete="off" required> </div>
                            <span id="fathername" class="text-danger font-weight-bold"></span>
                       </div>
                       <div class="form-group row">
                            <label class="col-sm-2 col-form-label" >Qualification:</label>
                            <div class="col-sm-10"><input type="text" id="qualification" class="form-control" name="Q1" minlength="3" maxlength="25" autocomplete="off" required> </div>
                            <span id="quals" class="text-danger font-weight-bold"></span>
                       </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" >Email:</label>
                            <div class="col-sm-10"><input type="email" class="form-control"  name="mail1" minlength="4" maxlength="30" autocomplete="off" required> </div>
                       </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" >Address:</label>
                            <div class="col-sm-10"><input type="text"  id="address" class="form-control"  name="address1" minlength="4" maxlength="25" autocomplete="off" required> </div>
                            <span id="addresses" class="text-danger font-weight-bold"></span>
                       </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" >phoneno:</label>
                            <div class="col-sm-10"><input type="number" id="mobileno" class="form-control" name="ph1" minlength="10" maxlength="10" autocomplete="off" required> </div>
                       </div>

                       <div class="form-group"><br>
                          <center> <button type="submit" class="btn btn-outline-info" >submit</button></center>
                          <span id="mobiles" class="text-danger font-weight-bold"></span>
                       </div>
                   </form>

               </div>
         </div>


    </div>
    </div>

    <center><h2 class="color-3" ><b>About Bright Computers</b></center>  </h2>
    <div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="{%static 'class.jpg'%}" class="aimage" width="350px" height="300px">
        </div>
        <br>
        <div class="col-md-7 about-right">


            <h1>Mission and Vision</h1>
            <p>

                Bright Computers is certified by An ISO 9001:2015 and Regd By DGE & T Permitted by GOVT OF INDIA.
                we are providing  Technical Education for graduation people and also Economical support.
                Bright computers Training Institute is the one of the best Computer Institute for educate the
                rural area people of Telangana.and also it is providing placements for trained students.
                Bright Computers provides GOVT OF INDIA trained certificate.and we are giving training on digital classes and online classes .
                we take less time to complete any course with practical knowledge.and we should provide placement for all students
                who need economical support.
            </p>
            </div>
            </div>
            </div><br>


            <div class="container">
            <div class="row">
              <div class="col-md-7 about-right">
                <h1>Management Team</h1>
                <p class="p">

                  Bright Computers Management have more than 6 years of experience in IT Sector in various Areas.
                  our motto is empowering youth in IT education to IT Careers,
                  Management has shown most interest in this IT Sector. we are getting positive response from Job seekers and hiring
                  companies.  Developing the perfect team members and encouraging the computer and software trainers.
                  we quickly adopting to latest technology trends and cutting-edge technologies.

                  Bright Computers has associated with National organizations for maintaining
                  and developing the Standard & Quality computer Training in IT Industry.
                  </p>

              </div>
            <div class="col-md-5">

                <img src="{%static 'RK.jpg'%}" class="aimage"  width="300px" height="300px" align="right"></img>
            </div><br>


            </div>
            </div><br>

            <div class="container">
            <div class="row">

              <div class="col-md-5">
                  <img src="{%static 'lab.jpg'%}" class="aimage" width="300px" height="300px">
              </div>
              <div class="col-md-7 about-right">
              <h1>Software Training Infrastructure</h1>
              <p class="p">

                  Bright Computers Training Institute has good Lab facilities located in Telangana .
                  Bright Computers Training Institute having modern classroom with latest teaching aids.
                  Full fledged Lab PCs connected in network and Open Source/Development software.
                </p>
              </div>
              </div>
              </div>



<br>
<br>
<br>
<br>





{% endblock content %}
