{%extends 'blog/base.html'%}
{% load static %}
{%block content%}
{%load crispy_forms_tags%}
<style >
  #postimg{
      hieght:00px;

  }

  	body{
  		background:linear-gradient(to bottom right, lightblue,white,white,lightblue);
  	  }

</style>



    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}" id="userphoto1" width="50px" height="50px">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{object.author}}</a>
                <small class="text-muted">{{object.date_posted|date:"F d, Y"}}</small>
                {% if object.author == user %}
                    <div>
                        <a href="{%url 'post-update' object.id%}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
                        <a href="{%url 'post-delete' object.id%}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
                    </div>
                {%endif%}
            </div>

            <h2 class="article-title">{{object.title}}</h2>
            <p class="article-content">{{object.content}}</p>


        </div>
    </article>

    <br><br>
<hr>





<div class="container">
    <div class="container">
    <div class="post-comments">
                  <header>
                    <div class="views"><i class="icon-eye"><h3 class="h6">No.of views<span class="no-of-comments"> ({{ post.view_count }})</span></h3></div>
                    <h3 class="h6">Post Comments<span class="no-of-comments">({{ post.comments.count }})</span></h3>
                  </header>
                  {% for comment in post.get_comments %}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                        <div class="image">


                          {% if comment.user.author %}

                          <img src="{{ request.user.profile.image.url }}" alt="..." class="rounded-circle account-img navbar-img" id="userphoto1" width="50px" height="50px" >
                          {% else %}
                          <img src="{{ request.user.profile.image.url }}" alt="..." class="rounded-circle account-img navbar-img" id="userphoto1" width="50px" height="50px">
                          {% endif %}

                        </div>
                        <div class="title"><strong>{{ comment.user.username }}</strong><span class="date">{{ comment.timestamp|timesince }} ago</span></div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>{{ comment.content }}</p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% if request.user.is_authenticated %}
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Leave a reply</h3>
                  </header>
                  <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="form-group col-md-12">
                        {{ form }}
                      </div>
                      <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary">Submit Comment</button>
                      </div>
                    </div>
                  </form>
                </div>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Login to comment</a>
                {% endif %}
    </div>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    </div>
{% endblock content %}
