{% block content %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-2 float-right ">
<div class="card my-2">
        <h5 class="card-header">Subscribe To Our YouTube Channel</h5>
    <div class="card-body">
      <div class="my-2">
        <script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channelid="UCsHZJynatmJWrmPvJCfDMHA" data-layout="full" data-count="default"></div>

    </div>
</div>
</div>
</div>

{% endblock content %}
