{%extends 'blog/base.html'%}
{%block content%}
{% load crispy_forms_tags %}
<style>
	body{
		background:linear-gradient(to bottom right, lightblue,white,white,lightblue);
	  }
</style>
<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">Your password has been Updated.</p>
	</div>
</div>
<br><br><br><br><br><br><br><br><br>

<section class="jumbotron text-center " >
	<div class="container primary">

			<h1 id="hd"class="jumbotron-heading">Welcome to Bright Computers<br><span id="typed"></span></h1>
			<p id ="pt" class="lead text-muted">are you Confused on which course to take?  Browse courses and find out
					the best course for you. Its free!<br>Bright Computers is ready to teach basics and those coding
					techniques to people in short time .</p>
			<p>
					<a href="/services" class="btn btn-danger my-2" id="bg">services</a>
					<a href="/NewPage" class="btn btn-success my-2" id="bg1">Contact Us</a>
					<a href="/courses" class="btn btn-primary my-2" id="bg2">Courses</a>
			</p>
	</div>
</section>
<br><br><br><br><br><br><br>
{% endblock content %}
